# Configuración del API
PORT=3001
API_URL="http://localhost:3001"
API_PORT=5001

# Configuración del POS
POS_PORT=5000
VITE_PORT=5173

# Base de Datos
DATABASE_URL="postgresql://user:password@localhost:5432/rderico?schema=public"
DB_PORT=5433

# Sincronización (Oficina Central)
CENTRAL_API_URL="https://admin.rderico.com/api/sync"
CENTRAL_API_KEY="your-secret-key"

# AI Vision
VISION_SENSITIVITY=0.85
CAMERA_DEVICE_ID=0

# Gemini API (Para el Agente de Voz)
GEMINI_API_KEY=""
